.error{
    /*margin: 10px 0;*/
    font-weight: bold;
    color: #EA5200;
}

label {
    margin: 10px 5px 5px 0;
}

.error-message-register{
    color: #e53935;
    font-size: 15px;
    padding: 10px 24px 10px 10px;
    text-align: left;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff4d4a;
    margin: 0;
}