.bg-modal{
    width :100%;
    height :100%;
    background-color: rgba(225 , 225, 225, 0.8);
    opacity: 0.7;
    position: absolute;
    top :0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 1000ppx;
    height: 1000ppx;
    border-style: solid;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.button {
	background-color: black;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
}

input{
    width: 75%;
    display: block;
    margin: 15px auto;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 30px;
	color: black;
	transform: rotate(45deg);
	cursor: pointer;
}

.map-block-selected{
    display: block;
    min-height: 90px;
    min-width: 89px;
    border: 1px solid blue;
}


.map-block-selected:hover{
    border: 2px solid red;
}

#popup-on-mapblock-selected{
    display: none;
}
