<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User sign in</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/util/loginstyle.css}">
</head>
<body class="login-body">
<div class="login-container">
    <div class="login-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h4>Sign In</h4>
                </div>
            </div>
            <form method="post" action="/checkin" onsubmit="return submitForm()">
                <div class="error-message" th:if="${successCode} eq 0" th:text="${errorInfo}">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control login-input" type="text" id="userName" name="userName"
                               placeholder="User Name">
                    </div>
                </div>
                <hr class="hr15">
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control login-input" type="password" id="passwordInput" name="passwordInput"
                               placeholder="Password">
                        <input type="hidden" id="password" name="password"
                               placeholder="Password">
                    </div>
                </div>
                <hr class="hr15">
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control login-input" type="text" placeholder="Type Verification Code"
                               name="validityCode">
                    </div>
                    <div class="col-md-5">
                        <img src="/getValidityCode" onclick="this.src='/getValidityCode'">
                    </div>
                </div>
                <hr class="hr15">
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-choice">
                            <input class="input-submit" type="submit" value="Sign in">
                            <a th:href="@{~/register}">Sign up</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.js}"></script>
<script th:src="@{/js/util/MD5Encode.js}"></script>
</body>
<script>
    function submitForm() {
        $('#password').val($('#passwordInput').val().MD5(32));
        var form = document.getElementById('registerInfo');
        form.submit();
    }
</script>
</html>