<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>display</title>
    <link rel="stylesheet" th:herf="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:herf="@{/css/util/mapdisplay.css}">
</head>
<body>

<!--Zoom-in & Zoom-out button set-->
<div class="bottoms">
    <div style="position: absolute; right: 20px; bottom:20px; z-index: 999">
        <button onclick="zoombig()">
            <img src="/icon/zoom-in.svg" alt="zoom-in" width="32" height="32">
        </button>
        &nbsp;&nbsp;
        <button onclick="zoomsmall()">
            <img src="/icon/zoom-out.svg" alt="zoom-out" width="32" height="32">
        </button>
        &nbsp;&nbsp;
        <button onclick="getDefault()">
            <img src="/icon/bootstrap-reboot.svg" alt="reset" width="32" height="32">
        </button>
    </div>
</div>

<!--popup window-->
<div class="modal fade" id="popup-on-mapblock-selected" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="container">
                        <div class="row" style="margin-top:20px;">
                            <div class="col text-center">
                                <label id="popupmapIdLabel" hidden="hidden" th:value="${mapId}"></label>
                                <input type="text" class="form-control" name= "LocationName" id="LocationName" placeholder="Location Name">
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col">
                                <input id="LocationDescriptionMedia" name= "LocationDescriptionMedia"  type="file" accept= "image/*,video/*" multiple><br>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary SaveLocationInformation" id="SaveLocationInformation">Save changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--display map-->
<div class="visible-cover relative">
    <div class="drag-framework-inner" id="vis">
        <div id="map-container" class="map-framework"></div>
    </div>
</div>
<label id="mapIdLabel" hidden="hidden" th:value="${mapId}"></label>

</body>

<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/map/mapbrowse.js}"></script>
<script type="text/javascript">

    $(".SaveLocationInformation").click(function() {
        var formData= new FormData();
        debugger;
        let itemMap = new Map();
        itemMap.set('mapId', $("#mapIdLabel").attr("value"));
        itemMap.set('locationName', document.getElementById("LocationName").value);
        //var itemData = {mapId:$("#mapIdLabel").attr("value"),
        //                locationName:document.getElementById("LocationName").value};
        let fileblob=new Blob([document.getElementById('LocationDescriptionMedia').files[0]],{type:'jpg'});
        formData = {
                    'itemInfo': itemMap,
                    'media': [fileblob]
                    };
        $.ajax({url: "/mapEdit/addLocation?itemInfo=${itemMap}&media=${fileblob}",
                type: 'POST',
                dataType: 'json',
                processData: false,
                data: formData,
                success: function(result) {
                    console.log('click')
                    console.log(result);
                },
                error: function(result) {
                    alert("error in saving location information");
                }
        });
    });

    $(function () {
        let mapId = $("#mapIdLabel").attr("value");
        $.ajax({
            type: 'get',
            url: '/map/browse/getMap?id=' + mapId,
            success: function (data, status, jqXHR) {
                data = JSON.parse(data);
                let imgType = 'data:image/jpeg;base64,';
                for (let i = 0; i < data.length; i++) {
                    let rowId = '#row' + i;
                    let rowDiv = '<div class="map-row" id="' + 'row' + i + '"></div>'
                    $(rowDiv).appendTo("#map-container");
                    for (let j = 0; j < data[i].length; j++) {
                        let mapBlock = '<img name="map-block" class="block" data-toggle="modal" data-target="#popup-on-mapblock-selected" draggable="false" src="' + imgType +
                            data[i][j] +
                            '">';
                        $(mapBlock).appendTo(rowId);
                    }
                }
            }
        });
    });

    $('#map-container').on('mouseover','img',function (){
        this.style.borderStyle = "solid";
        this.style.borderColor = "cyan";
    });

    $('#map-container').on('mouseout','img',function (){
        this.style.borderStyle = "";
        this.style.borderWidth = "";
        this.style.borderColor = "";
    });

    $('.map-block-selected').on('click', function() {
    $('#popup-on-mapblock-selected').toggle();
    })

</script>
</html>