<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>display</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="buttoms">
    <div style="position: absolute; right: 20px; bottom:20px; z-index: 999">
        <button onclick="zoombig()">Zoom-In</button>
        &nbsp;&nbsp;
        <button onclick="zoomsmall()">Zoom-Out</button>
        &nbsp;&nbsp;
        <button onclick="getDefault()">Reset</button>
    </div>
</div>

<div class="bg-modal" id="popup-on-mapblock-selected">
    <div class="modal-content" id="modal_container">
        <div class="close">+</div>
        <form action="">
            <input type="text" name= "Location Name" placeholder="Location Name">
            <input type="text" name= "LocationDescription" placeholder="Location Description">
            <input type="file" accept= "image/*,video/*">
            <a href="" class="SaveLocationInformation">Save</a>
        </form>
    </div>
</div>

<div class="visible-cover relative">
    <div style="width: 100%; height: auto; position: absolute; left: 0; top: 0; z-index: 0;" id="vis">
        <div th:each="row:${mapBlocks}" style="display: flex; flex-wrap: nowrap">
            <div th:each="col:${row}">
                <img style="width: 100%; height: auto" th:src="'data:image/jpeg;base64,'+${col}" name="map-block" class="block" th:draggable="false">
            </div>
        </div>
    </div>
</div>

<!-- Test Content -->
<!--<div class="visible-cover relative">-->
<!--    <div style="width: 100%; height: 100%; position: absolute; left:0px; top: 0px; z-index: 0" id="test-div">-->
<!--        <img style="width: 50%; height: 100%;" src="test-pic.jpg" class="pic" draggable="false">-->
<!--        <img style="width: 50%; height: 100%;" src="test-pic.jpg" class="pic" draggable="false">-->
<!--    </div>-->
<!--</div>-->

</body>
<style type="text/css">
    .visible-cover{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        border:2px solid #000;
        float:left;
        margin-right:20px;
    }
    .relative{
        position: relative;
    }
</style>

<script type="text/javascript">
    $("[name='map-block']").mouseover(function (){
        this.style.borderStyle = "solid";
        this.style.borderColor = "cyan";
    }).mouseout(function (){
        this.style.borderStyle = "";
        this.style.borderWidth = "";
        this.style.borderColor = "";
    });

    // // test JQuery
    // $(document).ready(function() {
    //     $("button#test-button").click(function() {
    //         $("img.map-block").each(function () {
    //             let new_width = $(this).width() * 1.1;
    //             let new_height = $(this).height() * 1.1;
    //             $(this).css({"width": new_width+"px", "height": new_height+"px"})
    //             console.log("w" + new_width + " h" + new_height);
    //         });
    //     });
    // });

    // zoom-in and zoom-out 
    function zoombig() {
        let mapBlock = document.getElementsByClassName("block");
        new_w = mapBlock[0].width * 1.1 + "px";
        for (let i = 0; i < mapBlock.length; i++) {
            mapBlock[i].style.width = new_w;
            mapBlock[i].style.height = "auto";
        }
    }

    function zoomsmall() {
        let mapBlock = document.getElementsByClassName("block");
        new_w = mapBlock[0].width / 1.1 + "px";
        for (let i = 0; i < mapBlock.length; i++) {
            mapBlock[i].style.width = new_w;
            mapBlock[i].style.height = "auto";
        }
    }

    function getDefault() {
        let mapBlock = document.getElementsByClassName("block");
        for (let i = 0; i < mapBlock.length; i++) {
            mapBlock[i].style.width = "100%";
            mapBlock[i].style.height = "auto";
        }
    }
    
    // move picture
    let pic = document.getElementById("vis");
    let isDrag = false;
    let disX, disY;

    pic.onmousedown = function(e){
        isDrag = true;
        this.style.cursor = "move";
        e = e||window.event;
        let x = e.clientX;
        let y = e.clientY;
        disX = x - this.offsetLeft;
        disY = y - this.offsetTop;
    }

    document.onmousemove = function(e){
        if (!isDrag){return;}
        e = e||window.event;
        let x = e.clientX;
        let y = e.clientY;
        pic.style.left = x - disX + "px";
        pic.style.top = y - disY + "px";
    }

    document.onmouseup = function(){
        isDrag = false;
        pic.style.cursor = "default";
    }

    $('.map-block-selected').on('click', function() {
    $('#popup-on-mapblock-selected').toggle();
    }

    $(".SaveLocationInformation").click(function() {
                $.ajax({url: "/mapEdit/addLocation",
                        success: function(result) {
                    alert("location information saved");
                },
                error: function(result) {
                    alert("error in saving location information");
                }});
            });
}



</script>
</html>