<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>display</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-4.3.1.min.css}">
    <link rel="stylesheet" th:href="@{/css/project/mapbrowse.css}">
</head>
<body>

<div class="buttoms">
    <div style="position: absolute; right: 20px; bottom:20px; z-index: 999">
        <button onclick="zoombig()">Zoom-In</button>
        &nbsp;&nbsp;
        <button onclick="zoomsmall()">Zoom-Out</button>
        &nbsp;&nbsp;
        <button onclick="getDefault()">Reset</button>
    </div>
</div>

<div class="bg-modal" id="popup-on-mapblock-selected">
    <div class="modal-content" id="modal_container">
        <div class="close">+</div>
        <form action="">
            <input type="text" name= "Location Name" placeholder="Location Name">
            <input type="text" name= "LocationDescription" placeholder="Location Description">
            <input type="file" accept= "image/*,video/*">
            <a href="" class="SaveLocationInformation">Save</a>
        </form>
    </div>
</div>

<!--<div class="visible-cover relative">
    <div style="width: 100%; height: auto; position: absolute; left: 0; top: 0; z-index: 0;" id="vis">
        <div th:each="row:${mapBlocks}" style="display: flex; flex-wrap: nowrap;height: auto">
            <div th:each="col:${row}" style="height: auto">
                <img style="width: 100%; height: auto" th:src="'data:image/jpeg;base64,'+${col}" name="map-block" class="block" th:draggable="false">
            </div>
        </div>
    </div>
</div>-->

<div class="visible-cover relative">
    <div class="drag-framework-inner" id="vis">
        <div id="map-container" class="map-framework">

        </div>
    </div>
</div>
<label id="mapIdLabel" hidden="hidden" th:value="${mapId}"></label>
</body>
<style type="text/css">
    .visible-cover{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        border:2px solid #000;
        float:left;
        margin-right:20px;
    }
    .relative{
        position: relative;
    }
</style>

<script th:src="@{/js/jquery/jquery-3.3.1.js}"></script>
<script th:src="@{/js/map/mapbrowse.js}"></script>
<script type="text/javascript">

    $(function () {
        let mapId = $("#mapIdLabel").attr("value");
        $.ajax({
            type: 'get',
            url: '/map/browse/getMap?id=' + mapId,
            success: function (data, status, jqXHR) {
                data = JSON.parse(data);
                let imgType = 'data:image/jpeg;base64,';
                for (let i = 0; i < data.length; i++) {
                    let rowId = '#row' + i;
                    let rowDiv = '<div class="map-row" id="' + 'row' + i + '"></div>'
                    $(rowDiv).appendTo("#map-container");
                    for (let j = 0; j < data[i].length; j++) {
                        let mapBlock = '<img name="map-block" class="block" draggable="false" src="' + imgType +
                            data[i][j] +
                            '">';
                        $(mapBlock).appendTo(rowId);
                    }
                }
            }
        });
    });

    $('#map-container').on('mouseover','img',function (){
        this.style.borderStyle = "solid";
        this.style.borderColor = "cyan";
    });

    $('#map-container').on('mouseout','img',function (){
        this.style.borderStyle = "";
        this.style.borderWidth = "";
        this.style.borderColor = "";
    });

    $('.map-block-selected').on('click', function() {
    $('#popup-on-mapblock-selected').toggle();
    })

    $(".SaveLocationInformation").click(function() {
                $.ajax({url: "/mapEdit/addLocation",
                        success: function(result) {
                    alert("location information saved");
                },
                error: function(result) {
                    alert("error in saving location information");
                }});
            });
</script>
</html>