<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user sign up</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/util/loginstyle.css}">
    <link rel="stylesheet" th:href="@{/css/util/registerstyle.css}">
</head>
<body>
<!--<div th:replace="commerce/navbarComponent::ccNavbar"></div>-->
<div class="container mt-3 d-flex justify-content-center">
    <div class="col-md-6">
        <form id="registerInfo" method="post" th:action="@{~/register/newUser}">
            <div class="col-md-8 error-message-register" th:if="${statusCode}==0" th:text="${statusInfo}"></div>
            <div class="row">
                <div class="col-md-8">
                    <label for="userEmail">Account</label>
                    <input class="form-control" id="userEmail" name="userEmail" type="email"
                           placeholder="Enter email address">
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label for="accountName">User Name</label>
                    <input class="form-control" id="accountName" name="accountName" type="text"
                           placeholder="Enter user name">
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label for="userPassword">password</label>
                    <input class="form-control" id="userPassword" name="userPassword" type="password"
                           placeholder="Enter your password">
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label for="passwordConfirm">Password confirmation</label>
                    <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password"
                           placeholder="Repeat your password">
                </div>
                <div class="col-md-4"></div>
                <input type="hidden" id="tpassword" name="tpassword">
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label for="validityCode">Verification Code</label>
                    <div class="row">
                        <div class="col-md-7">
                            <input class="form-control" id="validityCode" name="validityCode" type="text"
                                   placeholder="Enter verification code">
                        </div>
                        <div class="col-md-5">
                            <img src="/getValidityCode" onclick="this.src='/getValidityCode'">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" id="submitForm" class="flex-column btn btn-outline-primary mt-3">Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/js/util/register.js}"></script>
<script th:src="@{/js/util/MD5Encode.js}"></script>
</body>
</html>